.nblock-header, .nblock-headerleft, .nblock-headerright,
.cblock-header, .cblock-headerleft, .cblock-headerright, .cblock-top,
.sblock-header, .sblock-headerleft, .sblock-headerright {
    background: var(--bg1);
}

.nblock-content, .cblock-content, .sblock-content, .colhead,
.nblock-bottom, .cblock-bottom, .sblock-bottom {
    background: var(--bg2);
}

.clearfix::after {
    content: '';
    padding-bottom: 2px;
    visibility: visible;
    background: linear-gradient(0deg, var(--bg1), transparent);
}

.barmax {
    background: var(--daqua);
}
.bar {
    background: var(--dyellow);
}