.nblock-content, .cblock-content, .sblock-content, .colhead,
.nblock-bottom, .cblock-bottom, .sblock-bottom {
    background: var(--bg2);
}

.clearfix::after {
    content: '';
    padding-bottom: 2px;
    visibility: visible;
    background: linear-gradient(0deg, var(--bg1), transparent);

    .cblock:has(> .cblock-top) & {
        // clearfix was modified with the header in mind
        // it does not look good at all with any top
        padding: 0;
    }
}


.barmax {
    background: var(--daqua);
}
.bar {
    background: var(--dyellow);
}